Add

<input ng-model="recipe.title" class="input-xlarge" id="title">
<button class="btn btn-primary" type="button" ng-click="save()">Save</button>

<label ng-repeat="mealtime in mealtimes">
    <input type="checkbox" ng-model="mealtime"/> {{mealtime.title}}
</label>

<ul>
    <li ng-repeat="tag in tags">
        <div>{{tag.title}}</div>
    </li>
</ul>

<label ng-repeat="tag in tags">
    <input type="checkbox" ng-model="selection.ids[tag.id]"> {{tag.title}}
</label>

<pre ng-bind="selection.objects | json"></pre>

<input type="text" ng-model="selected" typeahead="ingredient.title for ingredient in ingredients | filter:$viewValue | limitTo:8">